<body style="background-color:#0d0d0d; font-family: 'Aclonica', sans-serif;">
    <div class="container hed1 ">

        <div class="section-title mt-0">
            <h5 class="btn text-white mt-5" style="font-family: 'Aclonica', sans-serif;">SIGN-UP</h5>

        </div>


        <input #nameref="ngModel" [(ngModel)]="nameProp" name="name" class="form-control text-dark" placeholder="enter full name">
        <br>
        <input #emailref="ngModel" [(ngModel)]="emailProp" name="email" class="form-control text-dark" placeholder="email">
        <br>

        <input #mobileref="ngModel" [(ngModel)]="mobileProp" name="mobile" class="form-control text-dark" placeholder="mobile number">
        <br>

        <input #passref="ngModel" [(ngModel)]="passProp" name="password" type="password" class="form-control text-dark" placeholder="password">
        <br>

        <button type="button" class="btn" style="background-color: #9e0303;" (click)="signUp()">
                    <span style="color: white;">SIGN-UP </span>
                    
        </button>



    </div>
</body>