<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900&display=swap">
<link href="https://fonts.googleapis.com/css?family=Cinzel:400,700,900&display=swap">

<!-- Css Styles -->
<link rel="stylesheet" href="/../assets/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="/../assets/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="/../assets/elegant-icons.css" type="text/css">
<link rel="stylesheet" href="/../assets/owl.carousel.min.css" type="text/css">
<link rel="stylesheet" href="/../assets/barfiller.css" type="text/css">
<link rel="stylesheet" href="/../assets/magnific-popup.css" type="text/css">
<link rel="stylesheet" href="/../assets/slicknav.min.css" type="text/css">
<link rel="stylesheet" href="/../assets/style.css" type="text/css">
<div class="logo" style="width: 100vw; ">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">


            </div>
        </div>
    </div>
</div>



<!-- bootstrap nav begin -->
<nav class="navbar navbar-expand-lg navbar-dark pt-3 pb-3" style="background-color: #9E0303; width: 100vw;">


    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse row" id="navbarNav">
        <ul class="navbar-nav col-md-8 mx-auto">
            <li class="nav-item active ml-5">
                <a class="nav-link" routerLink="/" style="text-shadow: black 3px 3px 5px; font-family: 'Aclonica', sans-serif; font-size: large;">Home </a>
            </li>
            <li class="nav-item active ml-5">
                <a class="nav-link mr-1" routerLink="/login" style="color: #0d0d0d; text-shadow: white 0.5px 0.5px 4px; font-family: 'Aclonica', sans-serif;"> <strong> login</strong></a>
            </li>

            <li class="nav-item active ml-5" [class.signClass]="true">
                <a class="nav-link mr-5" routerLink="/sign-up" style="color: #0d0d0d; text-shadow: white 0.5px 0.5px 4px; font-family: 'Aclonica', sans-serif;"><strong> Sign-up</strong></a>
            </li>
        </ul>
    </div>
</nav>

<!-- bootstrap nav end -->
<script src="my.js "></script>
<!-- Js Plugins -->
<script src="../../../assets/js/jquery-3.3.1.min.js "></script>
<script src="../../../assets/js/bootstrap.min.js "></script>
<script src="../../../assets/js/j/srcquery.magnific-popup.min.js "></script>
<script src="../../../assets/js/circle-progress.min.js "></script>
<script src="../../../assets/js/jquery.barfiller.js "></script>
<script src="../../../assets/js/jquery.slicknav.js "></script>
<script src="../../../assets/js/owl.carousel.min.js "></script>
<script src="../../../assets/js/main.js "></script>
<router-outlet></router-outlet>