.fa {
    padding: 9px;
    font-size: 20px;
    width: 10px;
    text-align: center;
    text-decoration: none;
    margin-right: 9px;
    color: white;
    margin-top: 5px;
}

.fa-instagram:hover {
    opacity: 0.7;
    color: #bc2a8d;
}

.fa-twitter:hover {
    opacity: 0.7;
    color: #1DA1F2;
}

.fa-facebook:hover {
    opacity: 0.7;
    color: hsl(220, 61%, 38%);
}

.fa-linkedin-square:hover {
    opacity: 0.7;
    color: #0e76a8;
}

.ec-text .fa {
    margin-top: 0px;
    margin-right: 20px;
}

.mylastdiv {
    margin-left: 200px;
}


/* mycss */

.section-title h5:after {
    background: none;
}