<!-- link -->
<!-- <link rel="stylesheet" href="/src/assets/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="/src/assets/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="/src/assets/elegant-icons.css" type="text/css">
<link rel="stylesheet" href="/src/assets/owl.carousel.min.css" type="text/css">
<link rel="stylesheet" href="/src/assets/barfiller.css" type="text/css">
<link rel="stylesheet" href="/src/assets/magnific-popup.css" type="text/css">
<link rel="stylesheet" href="/src/assets/slicknav.min.css" type="text/css">
<link rel="stylesheet" href="/src/assets/style.css" type="text/css"> -->
<!-- link -->

<!-- <link href="../../../assets/bootstrap.min.css" type="text/css"> -->
<link href="../../../assets/font-awesome.min.css" type="text/css">
<link href="../../../assets/elegant-icons.css" type="text/css">
<link href="../../../assets/owl.carousel.min.css" type="text/css">
<link href="../../../assets/barfiller.css" type="text/css">
<link href="../../../assets/magnific-popup.css" type="text/css">
<link href="../../../assets/slicknav.min.css" type="text/css">
<link href="../../../assets/style.css" type="text/css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<carousel>
    <slide>
        <img src="assets/image/pubg/2.jpg" alt="first slide" style="display: block; width: 100%;">
        <div class="carousel-caption d-none d-md-block">
            <div class="section-title">
                <h5>Techno's Choice</h5>
                <div class="animateOnImg">

                </div>
            </div>
        </div>
    </slide>
    <slide>
        <img src="assets/image/pubg/1.jpg" alt="second slide" style="display: block; width: 100%;">
        <div class="carousel-caption d-none d-md-block">
            <div class="section-title">
                <h5>Techno's Choice</h5>
                <div class="animateOnImg">

                </div>
            </div>

        </div>
    </slide>
    <slide>
        <img src="assets/image/pubg/4.jpg" alt="third slide" style="display: block; width: 100%;">
        <div class="carousel-caption d-none d-md-block">
            <div class="section-title">
                <h5>Techno's Choice</h5>
                <div class="animateOnImg">


                </div>
            </div>
        </div>
    </slide>
</carousel>

<!-- footer -->
<footer class="footer-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 ml-5  mr-5">
                <div class="footer-about">
                    <div class="fa-logo">
                        <a href="#"><img src="/assets/image/techno5.png" alt=""></a>
                    </div>

                    <h1>created by Aman
                        <a href="https://twitter.com/@samarkandiy" title="Azik Samarkandiy"></a> :)
                    </h1>
                    <div class="container mt-0">
                        <a class="mr-2" href="#"><i class="fa fa-facebook"></i></a>
                        <a class="mr-2" href="#"><i class="fa fa-twitter"></i></a>

                        <a class="mr-2" href="#"><i class="fa fa-instagram"></i></a>
                    </div>

                </div>
            </div>
            <div class=" mylastdiv col-lg-4 mt-3 col-md-6">
                <div class="editor-choice">
                    <div class="section-title">
                        <h5>developed by</h5>
                    </div>
                    <div class="ec-item">

                        <div class="ec-text">
                            <h5 style="color: rgb(254, 255, 255);">Aman Singhal</h5>

                            <h6 class="mt-1"><a href="#">Arya College of engineering & I.T. jaipur</a></h6>
                            <a href="https://instagram.com/piyush_jain_7_7?igshid=1lwyvrxp30owu"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-twitter "></i></a>



                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>
</footer>

<!-- Footer Section End -->



<!-- Js Plugins -->
<!-- <script src="/src/assets/js/jquery-3.3.1.min.js"></script>
<script src="/src/assets/js/bootstrap.min.js"></script>
<script src="/src/assets/js/j/srcquery.magnific-popup.min.js"></script>
<script src="/src/assets/js/circle-progress.min.js"></script>
<script src="/src/assets/js/jquery.barfiller.js"></script>
<script src="/src/assets/js/jquery.slicknav.js"></script>
<script src="/src/assets/js/owl.carousel.min.js"></script>
<script src="/src/assets/js/main.js"></script> -->