<!-- link -->
<!-- <link rel="stylesheet" href="/src/assets/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="/src/assets/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="/src/assets/elegant-icons.css" type="text/css">
<link rel="stylesheet" href="/src/assets/owl.carousel.min.css" type="text/css">
<link rel="stylesheet" href="/src/assets/barfiller.css" type="text/css">
<link rel="stylesheet" href="/src/assets/magnific-popup.css" type="text/css">
<link rel="stylesheet" href="/src/assets/slicknav.min.css" type="text/css">
<link rel="stylesheet" href="/src/assets/style.css" type="text/css"> -->
<!-- link -->

<!-- <link href="../../../assets/bootstrap.min.css" type="text/css"> -->
<link href="../../../assets/font-awesome.min.css" type="text/css">
<link href="../../../assets/elegant-icons.css" type="text/css">
<link href="../../../assets/owl.carousel.min.css" type="text/css">
<link href="../../../assets/barfiller.css" type="text/css">
<link href="../../../assets/magnific-popup.css" type="text/css">
<link href="../../../assets/slicknav.min.css" type="text/css">
<link href="../../../assets/style.css" type="text/css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<carousel>
    <slide>
        <img src="assets/image/pubg/2.jpg" alt="first slide" style="display: block; width: 100%;">
        <div class="carousel-caption d-none d-md-block">

        </div>
    </slide>
    <slide>
        <img src="assets/image/pubg/1.jpg" alt="second slide" style="display: block; width: 100%;">
        <div class="carousel-caption d-none d-md-block">


        </div>
    </slide>
    <slide>
        <img src="assets/image/pubg/4.jpg" alt="third slide" style="display: block; width: 100%;">
        <div class="carousel-caption d-none d-md-block">

        </div>
    </slide>
</carousel>

<!-- footer -->


<footer class="footer-section">

    <div class="container">
        <div class="row">
            <div class="col-lg-4 ml-5  mr-5">
                <div class="footer-about">
                    <div class="section-title mt-3">
                        <h5 style="font-family: 'Aclonica', sans-serif;">developed by</h5>
                    </div>
                    <div class="fa-logo">
                        <a href="#"><img src="/assets/image/techno5.png" alt=""></a>
                    </div>

                    <div class="container mt-0">
                        <a class="mr-2" href="#"><i class="fa fa-facebook"></i></a>
                        <a class="mr-2" href="#"><i class="fa fa-twitter"></i></a>

                        <a class="mr-2" href="https://instagram.com/_technocrats?igshid=riofnttyzmvn"><i class="fa fa-instagram"></i></a>
                    </div>

                </div>
            </div>
            <div class=" mylastdiv col-lg-4 mt-3 col-md-6">
                <div class="editor-choice">
                    <div class="section-title mt-0">
                        <h5 style="font-family: 'Aclonica', sans-serif;">Contact info</h5>
                    </div>
                    <div class="ec-item">

                        <div class="ec-text">
                            <h5 class="pb-1" style="color: rgb(254, 255, 255); font-family: 'Aclonica', sans-serif;">Aman Singhal</h5>

                            <h6 class="mt-1" style="font-family: 'Aclonica', sans-serif; color: white;">Arya College of engineering & I.T. jaipur</h6>
                            <a href="https://instagram.com/_aman_agrawal?igshid=m33cjht3g9nc"><i class="fa fa-instagram"></i></a>
                            <a href="https://twitter.com/AmanSinghal0805?s=08"><i class="fa fa-twitter "></i></a>
                            <a href="#" style="ml-5 mr-5"><i class="fa fa-github" style="font-size:22px"></i></a>
                            <a href="https://www.linkedin.com/in/aman-singhal-1b22a11a2"><i class="fa fa-linkedin-square" style="font-size:22px"></i></a>


                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>
</footer>

<!-- Footer Section End -->



<!-- Js Plugins -->
<!-- <script src="/src/assets/js/jquery-3.3.1.min.js"></script>
<script src="/src/assets/js/bootstrap.min.js"></script>
<script src="/src/assets/js/j/srcquery.magnific-popup.min.js"></script>
<script src="/src/assets/js/circle-progress.min.js"></script>
<script src="/src/assets/js/jquery.barfiller.js"></script>
<script src="/src/assets/js/jquery.slicknav.js"></script>
<script src="/src/assets/js/owl.carousel.min.js"></script>
<script src="/src/assets/js/main.js"></script> -->