<body style="background-color: #0d0d0d; width: 100vw; height: 100%; font-family: 'Aclonica', sans-serif; ">


    <div class="imgs">

        <!-- <img src="assets/image/pubg/5.png" style="z-index: -1;" alt=""> -->
        <img src="assets/image/pubg/5.png" style="z-index: -1;" alt="">
        <img src="assets/image/pubg/8.png" style="z-index: -1;" alt="">



    </div>
    <button type="button" class="btn mt-3" style="background-color: #9e0303; width: auto; position: fixed;" (click)="logout()">
        <span style="color: white;">logout</span>
      </button>

</body>

<div class="container-fluid" style="background-color: #0d0d0d; width: 100vw;">
    <div class="container" style="background-color: #0d0d0d;">
        <div class="row" style="background-color: #0d0d0d;">
            <div class="col-sm-4 mb-5">
                <div class="card " style="width: 18rem;">
                    <img class="card-img-top" src="assets/image/pubg/1.jpg" alt="Card image cap">
                    <div class="card-body" style="font-family: 'Aclonica', sans-serif;">
                        <h3 class="card-title" style="font-family: 'Aclonica', sans-serif;">pubg</h3>

                        <p class="card-text text-dark" style="font-family: 'Aclonica', sans-serif;">jul 12,04.00pm</p>
                        <a class="card-text text-dark" style="font-family: 'Aclonica', sans-serif;">price:10000Rs</a><br>
                        <a class="card-text text-dark float-right mr-5" style="font-family: 'Aclonica', sans-serif;">  solo</a>

                        <a href="https://gamingmonk.com/tournament/43569" class="card-link" style="font-family: 'Aclonica', sans-serif;">check</a>

                    </div>
                </div>
            </div>
            <div class="col-sm-4 mb-5">
                <div class="card mt-3" style="width: 18rem;">
                    <img class="card-img-top" src="assets/image/pubg/4.jpg" alt="Card image cap">
                    <div class="card-body" style="font-family: 'Aclonica', sans-serif;">
                        <h3 class="card-title" style="font-family: 'Aclonica', sans-serif;">pubg</h3>

                        <p class="card-text text-dark" style="font-family: 'Aclonica', sans-serif;">jul 19,04.00pm</p>
                        <a class="card-text text-dark" style="font-family: 'Aclonica', sans-serif;">price:10000Rs</a> <br>
                        <a class="card-text text-dark float-right mr-5" style="font-family: 'Aclonica', sans-serif;">  solo</a>

                        <a href="https://gamingmonk.com/tournament/43570" class="card-link" style="font-family: 'Aclonica', sans-serif;">check</a>

                    </div>
                </div>
            </div>
            <div class="col-sm-4 mb-5">
                <div class="card mt-3 mb-5" style="width: 18rem;">
                    <img class="card-img-top" src="assets/image/freefire/1.jpeg" alt="Card image cap">
                    <div class="card-body" style="font-family: 'Aclonica', sans-serif;">
                        <h3 class="card-title" style="font-family: 'Aclonica', sans-serif;">free fire</h3>

                        <p class="card-text text-dark" style="font-family: 'Aclonica', sans-serif;">Aug-08 19:15</p>
                        <!-- <br> -->
                        <!-- <a class="card-text text-dark" style="font-family: 'Aclonica', sans-serif;">prize hightes kill:50uc win:500uc</a> -->
                        <br>
                        <a class="card-text text-dark  mr-5" style="font-family: 'Aclonica', sans-serif;"> Squad</a>

                        <a href="https://www.game.tv/tournaments/Himanshu--57ea99e9076142279392e3cc2945a3c2?web_user_id=a996f0f13c144a5abdc63d28caa5b36b" class="card-link" style="font-family: 'Aclonica', sans-serif;">check</a>

                    </div>
                </div>
            </div>
            <div class="col-sm-4 mb-5">
                <div class="card mt-3" style="width: 18rem;">
                    <img class="card-img-top" src="assets/image/pubg/2.jpg" alt="Card image cap">
                    <div class="card-body" style="font-family: 'Aclonica', sans-serif;">
                        <h3 class="card-title" style="font-family: 'Aclonica', sans-serif;">pubg</h3>

                        <p class="card-text text-dark" style="font-family: 'Aclonica', sans-serif;">jul 26,04.00pm</p>
                        <a class="card-text text-dark" style="font-family: 'Aclonica', sans-serif;">price:10000Rs</a> <br>
                        <a class="card-text text-dark float-right mr-5" style="font-family: 'Aclonica', sans-serif;">  solo</a>

                        <a href="https://gamingmonk.com/tournament/43571" class="card-link" style="font-family: 'Aclonica', sans-serif;">Check</a>

                    </div>
                </div>
            </div>
            <div class="col-sm-4 mb-5">
                <div class="card mt-3" style="width: 18rem;">
                    <img class="card-img-top" src="assets/image/pubg/1.jpg" alt="Card image cap">
                    <div class="card-body" style="font-family: 'Aclonica', sans-serif;">
                        <h3 class="card-title" style="font-family: 'Aclonica', sans-serif;">pubg</h3>

                        <p class="card-text text-dark" style="font-family: 'Aclonica', sans-serif;">sep 19,04.29pm</p>
                        <a class="card-text text-dark" style="font-family: 'Aclonica', sans-serif;">price:$350 First $200 Second $100 Third </a> <br>
                        <a class="card-text text-dark float-right mr-5" style="font-family: 'Aclonica', sans-serif;">squad</a>

                        <a href="https://www.game.tv/tournaments/Test-tournament-just-for-good--62e71e47d98747ab88a6312eeb114cad?web_user_id=a996f0f13c144a5abdc63d28caa5b36b" class="card-link" style="font-family: 'Aclonica', sans-serif;">Check</a>

                    </div>
                </div>
            </div>
            <div class="col-sm-4 mb-5">
                <div class="card mt-3 mb-5" style="width: 18rem;">
                    <img class="card-img-top" src="assets/image/freefire/1.jpeg" alt="Card image cap">
                    <div class="card-body" style="font-family: 'Aclonica', sans-serif;">
                        <h3 class="card-title" style="font-family: 'Aclonica', sans-serif;">free fire</h3>

                        <p class="card-text text-dark" style="font-family: 'Aclonica', sans-serif;">jul-30 15:00</p>
                        <!-- <br> -->
                        <!-- <a class="card-text text-dark" style="font-family: 'Aclonica', sans-serif;">prize hightes kill:50uc win:500uc</a> -->
                        <br>
                        <a class="card-text text-dark  mr-5" style="font-family: 'Aclonica', sans-serif;"> solo</a>

                        <a href="https://www.game.tv/tournaments/_Glitz-Gaming_'s-Free-Fire-tournament-1006-1500--7d4bbe0c93c84c1a8f0e8fc83f6a1d17?web_user_id=a996f0f13c144a5abdc63d28caa5b36b" class="card-link" style="font-family: 'Aclonica', sans-serif;">check</a>

                    </div>
                </div>
            </div>
            <div class="col-sm-4 mb-5">
                <div class="card mt-3 mb-5" style="width: 18rem;">
                    <img class="card-img-top" src="assets/image/cod/3.jpg" alt="Card image cap">
                    <div class="card-body" style="font-family: 'Aclonica', sans-serif;">
                        <h3 class="card-title" style="font-family: 'Aclonica', sans-serif;">call of duty</h3>

                        <p class="card-text text-dark" style="font-family: 'Aclonica', sans-serif;">jul-15 21:07</p>
                        <!-- <br> -->
                        <!-- <a class="card-text text-dark" style="font-family: 'Aclonica', sans-serif;">prize hightes kill:50uc win:500uc</a> -->
                        <br>
                        <a class="card-text text-dark  mr-5" style="font-family: 'Aclonica', sans-serif;"> all</a>

                        <a href="https://www.game.tv/tournaments/AKASH's-Call-of-Duty-Mobile-tournament-1507-2107--3f8ed1a0224940ed86d4f6b298c2fc6b?web_user_id=a996f0f13c144a5abdc63d28caa5b36b" class="card-link" style="font-family: 'Aclonica', sans-serif;">check</a>

                    </div>
                </div>
            </div>
            <div class="col-sm-4 mb-5">
                <div class="card mt-3" style="width: 18rem;">
                    <img class="card-img-top" src="assets/image/pubg/4.jpg" alt="Card image cap">
                    <div class="card-body" style="font-family: 'Aclonica', sans-serif;">
                        <h3 class="card-title" style="font-family: 'Aclonica', sans-serif;">pubg</h3>

                        <p class="card-text text-dark" style="font-family: 'Aclonica', sans-serif;">Aug 25,01.22pm</p>
                        <a class="card-text text-dark" style="font-family: 'Aclonica', sans-serif;">price:20k UC</a> <br>
                        <a class="card-text text-dark float-right mr-5" style="font-family: 'Aclonica', sans-serif;">  squad</a>
                        <a href="https://www.game.tv/tournaments/PUBG-MOBILE-Tournament--0e0c3901de2246c8be052cd12635effa?web_user_id=a996f0f13c144a5abdc63d28caa5b36b" class="card-link" style="font-family: 'Aclonica', sans-serif;">Check</a>

                    </div>
                </div>
            </div>
            <div class="col-sm-4 mb-5">
                <div class="card mt-3" style="width: 18rem;">
                    <img class="card-img-top" src="assets/image/pubg/2.jpg" alt="Card image cap">
                    <div class="card-body" style="font-family: 'Aclonica', sans-serif;">
                        <h3 class="card-title" style="font-family: 'Aclonica', sans-serif;">pubg</h3>

                        <p class="card-text text-dark" style="font-family: 'Aclonica', sans-serif;">Aug 08,06.0pm</p>
                        <br>
                        <!-- <a class="card-text text-dark" style="font-family: 'Aclonica', sans-serif;">price:</a> -->
                        <a class="card-text text-dark  mr-5" style="font-family: 'Aclonica', sans-serif;">  Team deathmatch</a>

                        <a href="https://www.game.tv/tournaments/rajesh2244's-PUBG-Mobile-tournament-0808-1800--319622a8b42b46c799e5e693013a29c4?web_user_id=a996f0f13c144a5abdc63d28caa5b36b" class="card-link" style="font-family: 'Aclonica', sans-serif;">Check</a>

                    </div>
                </div>
            </div>
            <div class="col-sm-4 mb-5">
                <div class="card mt-3 mb-5" style="width: 18rem;">
                    <img class="card-img-top" src="assets/image/cod/3.jpg" alt="Card image cap">
                    <div class="card-body" style="font-family: 'Aclonica', sans-serif;">
                        <h3 class="card-title" style="font-family: 'Aclonica', sans-serif;">call of duty</h3>

                        <p class="card-text text-dark" style="font-family: 'Aclonica', sans-serif;">jul-10 15:40</p>
                        <!-- <br> -->
                        <!-- <a class="card-text text-dark" style="font-family: 'Aclonica', sans-serif;">prize hightes kill:50uc win:500uc</a> -->
                        <br>
                        <a class="card-text text-dark  mr-5" style="font-family: 'Aclonica', sans-serif;"> all</a>

                        <a href="https://www.game.tv/tournaments/5V5-MULTIPLAYER-TOURNAMENT--e5471342537a4025a384cd1b6a098ce5?web_user_id=a996f0f13c144a5abdc63d28caa5b36b" class="card-link" style="font-family: 'Aclonica', sans-serif;">check</a>

                    </div>
                </div>
            </div>
            <div class="col-sm-4 mb-5">
                <div class="card mt-3" style="width: 18rem;">
                    <img class="card-img-top" src="assets/image/pubg/1.jpg" alt="Card image cap">
                    <div class="card-body" style="font-family: 'Aclonica', sans-serif;">
                        <h3 class="card-title" style="font-family: 'Aclonica', sans-serif;">pubg</h3>

                        <p class="card-text text-dark" style="font-family: 'Aclonica', sans-serif;">Aug 15,11:32Am</p>

                        <!-- <a class="card-text text-dark" style="font-family: 'Aclonica', sans-serif;">price:</a> -->
                        <a class="card-text text-dark mr-5 float-right" style="font-family: 'Aclonica', sans-serif;">  Squad</a>

                        <a href="https://www.game.tv/tournaments/PUBG-MOBILE-PRO-CHAMPIONSHIP--da4163f3f927467aaf84f893fc02d51d?web_user_id=a996f0f13c144a5abdc63d28caa5b36b" class="card-link" style="font-family: 'Aclonica', sans-serif;">Check</a>

                    </div>
                </div>
            </div>
            <div class="col-sm-4 mb-5">
                <div class="card mt-3 mb-5" style="width: 18rem;">
                    <img class="card-img-top" src="assets/image/freefire/1.jpeg" alt="Card image cap">
                    <div class="card-body" style="font-family: 'Aclonica', sans-serif;">
                        <h3 class="card-title" style="font-family: 'Aclonica', sans-serif;">free fire</h3>

                        <p class="card-text text-dark" style="font-family: 'Aclonica', sans-serif;">jul-30 13:30</p>
                        <!-- <br> -->
                        <!-- <a class="card-text text-dark" style="font-family: 'Aclonica', sans-serif;">prize hightes kill:50uc win:500uc</a> -->
                        <br>
                        <a class="card-text text-dark  mr-5" style="font-family: 'Aclonica', sans-serif;"> Squad</a>

                        <a href="https://www.game.tv/tournaments/Gourab's-Free-Fire-tournament-3007-1330--961bc366f925444b8ff37b9bed938ccb?web_user_id=a996f0f13c144a5abdc63d28caa5b36b" class="card-link" style="font-family: 'Aclonica', sans-serif;">check</a>

                    </div>
                </div>
            </div>
            <div class="col-sm-4 mb-5">
                <div class="card mt-3" style="width: 18rem;">
                    <img class="card-img-top" src="assets/image/pubg/4.jpg" alt="Card image cap">
                    <div class="card-body" style="font-family: 'Aclonica', sans-serif;">
                        <h3 class="card-title" style="font-family: 'Aclonica', sans-serif;">pubg</h3>

                        <p class="card-text text-dark" style="font-family: 'Aclonica', sans-serif;">jul 31,08:00</p>
                        <a class="card-text text-dark" style="font-family: 'Aclonica', sans-serif;">price:1 - Rs 500 2 - Rs 250 3 - Rs 100 4 - Rs 50</a>
                        <br><a class="card-text text-dark float-right mr-5" style="font-family: 'Aclonica', sans-serif;">  squad</a>

                        <a href="https://www.game.tv/tournaments/DIVINITY-ESPORTS-PUBG-Mobile-tournament-3107-2000--9d15a01e39d14e08b1be5281e87a282d?web_user_id=a996f0f13c144a5abdc63d28caa5b36b" class="card-link" style="font-family: 'Aclonica', sans-serif;">Check</a>

                    </div>
                </div>
            </div>
            <div class="col-sm-4 mb-5">
                <div class="card mt-3 mb-5" style="width: 18rem;">
                    <img class="card-img-top" src="assets/image/pubg/2.jpg" alt="Card image cap">
                    <div class="card-body" style="font-family: 'Aclonica', sans-serif;">
                        <h3 class="card-title" style="font-family: 'Aclonica', sans-serif;">pubg</h3>

                        <p class="card-text text-dark" style="font-family: 'Aclonica', sans-serif;">jul 25,16.40pm</p>
                        <br>
                        <a class="card-text text-dark" style="font-family: 'Aclonica', sans-serif;">price:1-1500 2-800</a>
                        <a class="card-text text-dark  mr-5" style="font-family: 'Aclonica', sans-serif;">  Squad</a>

                        <a href="https://www.game.tv/tournaments/Pubg-mobile-league--012e722b9bfc40b1965a3eb0910e6f57?web_user_id=a996f0f13c144a5abdc63d28caa5b36b#prize" class="card-link" style="font-family: 'Aclonica', sans-serif;">Check</a>

                    </div>
                </div>
            </div>
            <div class="col-sm-4 mb-5">
                <div class="card mt-3 mb-5" style="width: 18rem;">
                    <img class="card-img-top" src="assets/image/pubg/1.jpg" alt="Card image cap">
                    <div class="card-body" style="font-family: 'Aclonica', sans-serif;">
                        <h3 class="card-title" style="font-family: 'Aclonica', sans-serif;">pubg</h3>

                        <p class="card-text text-dark" style="font-family: 'Aclonica', sans-serif;">jul-20 17:00</p>
                        <!-- <br> -->
                        <!-- <a class="card-text text-dark" style="font-family: 'Aclonica', sans-serif;"></a> -->
                        <a class="card-text text-dark  mr-5" style="font-family: 'Aclonica', sans-serif;"> team deathmatch</a>

                        <a href="https://www.game.tv/tournaments/Tournament's-PUBG-Mobile-tournament-2007-1700--ee979a5829b9407b863bc3fa50407720?web_user_id=a996f0f13c144a5abdc63d28caa5b36b" class="card-link" style="font-family: 'Aclonica', sans-serif;">check</a>

                    </div>
                </div>
            </div>
            <div class="col-sm-4 mb-5">
                <div class="card mt-3 mb-5" style="width: 18rem;">
                    <img class="card-img-top" src="assets/image/pubg/4.jpg" alt="Card image cap">
                    <div class="card-body" style="font-family: 'Aclonica', sans-serif;">
                        <h3 class="card-title" style="font-family: 'Aclonica', sans-serif;">pubg</h3>

                        <p class="card-text text-dark" style="font-family: 'Aclonica', sans-serif;">Aug-02 13:45</p>
                        <!-- <br> -->
                        <!-- <a class="card-text text-dark" style="font-family: 'Aclonica', sans-serif;">prize pool 10k UC</a> -->
                        <br>
                        <a class="card-text text-dark  mr-5" style="font-family: 'Aclonica', sans-serif;"> squad</a>

                        <a href="https://www.game.tv/tournaments/RS-25000-PUBGM-TOURNAMENT--cd3d76bf45b2475fb5a2a0abbf27d8e9?web_user_id=a996f0f13c144a5abdc63d28caa5b36b" class="card-link" style="font-family: 'Aclonica', sans-serif;">check</a>

                    </div>
                </div>
            </div>
            <div class="col-sm-4 mb-5">
                <div class="card mt-3 mb-5" style="width: 18rem;">
                    <img class="card-img-top" src="assets/image/pubg/2.jpg" alt="Card image cap">
                    <div class="card-body" style="font-family: 'Aclonica', sans-serif;">
                        <h3 class="card-title" style="font-family: 'Aclonica', sans-serif;">pubg</h3>

                        <p class="card-text text-dark" style="font-family: 'Aclonica', sans-serif;">jul-12 22:25</p>
                        <!-- <br> -->
                        <a class="card-text text-dark" style="font-family: 'Aclonica', sans-serif;">prize hightes kill:50uc win:500uc</a>
                        <br>
                        <a class="card-text text-dark  mr-5" style="font-family: 'Aclonica', sans-serif;"> team deathmatch</a>

                        <a href="https://www.game.tv/tournaments/Adil-Uzzal's-PUBG-Mobile-tournament-1207-2255--df5dc2389f204408b1f9ca33a4b226d5?web_user_id=a996f0f13c144a5abdc63d28caa5b36b" class="card-link" style="font-family: 'Aclonica', sans-serif;">check</a>

                    </div>
                </div>
            </div>



        </div>
    </div>
</div>